.cart-container_tot {
    position: absolute;
    top: -7px;
    left: 37px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    transition: all 2s ease;
}
.cart-container {
    position: relative;
}
.hidden {
    opacity: 0;
}