.card.product-card {
  padding: 1rem;
  border-radius: 10px;
  margin: 20px;
  background-image: linear-gradient(to bottom right, #FFFFFF 0%, #DFDFEF 100%);
  width: 18rem;
}
.card-img-top {
  height: 200px;
  background-color: white;
  object-fit: contain;
}

.card .card-body {
  padding: 0;
  margin-top: 17px;
}

.card .price {
  text-align: right;
  color: red;
  font-size: 20px;
  padding-right: 20px;
  margin-bottom: 0;
}

.card p.truncate {
  /* This tells how many lines to display */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /*                                      */
  max-width: 200px;
  max-height: 5rem;
}

.card h5.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
  height: 3rem;
}

.card .prod-quantity {
  align-items: center;
  font-size: 25px;
}

.card-container {
  box-shadow: 5px 5px 10px;
  background-color: rgba(166, 174, 182, 0.801)
}