.admin-products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-between;
}

.admin-product-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.admin-product-container > img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.admin-product-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}
.admin-product-info > p {
    color: red;
    font-style: italic;
    text-align: right;
    font-size: 20px;
    margin-right: 20px;
}
.admin-product-info > h2 {
    font-size: 18px;
    text-align: center;
}
.add-product-div {
    justify-content: center;
    height: 360px;
    background-color: rgba(221, 221, 221, 0.562);
    font-size: 25px;
    cursor: pointer;
}
.product-div__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.1);
}
.product-div__content > p {
    margin: 0;
}
.new-product-form > input {
    margin-bottom: 20px;
}
